---
import Showcase from '../components/Showcase.astro';
import Layout from '../layouts/Layout.astro';
import Features from '../components/Features.astro';
---

<Layout>
  <Showcase showExtra={true} />
  <Features />
  <h1>The beginning, Astro site.</h1>
</Layout>
