---
import "../styles/card.css";
export interface Props {
  title: string;
  body: string;
  dark?: boolean;
}

const { title, body, dark = false } = Astro.props as Props;
---

<div class={`card ${dark && 'dark'}`}>
  <h3>{title}</h3>
  <p>{body}</p>
</div>
